/* --------------- Fonts used : Poppins + Abril Fatface --------------- */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------- Website Theme --------------- */

:root {
  /* Define color variables */
  --black: #000000;
  --almost-black: #111111;
  --tinted-black: #222222;
  --light-black: #333333;
  --pale-black: #444444;
  --dark-gray: #555555;
  --shaded-gray: #666666;
  --medium-gray: #777777;
  --tinted-gray: #888888;
  --light-gray: #999999;
  --pale-gray: #aaaaaa;
  --silver: #bbbbbb;
  --dark-white: #cccccc;
  --shaded-white: #dddddd;
  --almost-white: #eeeeee;
  --white: #ffffff;

  --section-padding: 7rem;
}

body {
  --heading-color: #000000;
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --text-color: hsl(0, 0%, 59%);
}

body.dark {
  --text-color: hsl(0, 0%, 59%);
}

/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #cccccc;
  color: #fff;
}

a {
  text-decoration: none;
  color: var(--heading-color);
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */

.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.logo {
  margin-right: 1.5rem;
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 1px;
  transition: 0.3s;
}

.sub-heading {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-left: 3px solid var(--heading-color);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  line-height: 1.3;
}

.text {
  color: var(--text-color);
  font-size: 0.9rem;
  margin: 2rem 0;
  line-height: 2.3;
}

.dots {
  width: 112px;
}

.square {
  width: 70px;
}

.triangle {
  width: 95px;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.75rem;
  border-radius: 17px;
  background-color: var(--heading-color);
  color: #ffffff;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  min-width: 125px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

.section {
  position: relative;
  padding: var(--section-padding);
}

/* --------------- Navbar Styling --------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

nav.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo span {
  color: var(--text-color);
}

header .logo {
  height: 120px;
  line-height: 120px;
}

header.scrolled .logo {
  height: 80px;
  line-height: 80px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: #b1b1b1;
  bottom: 0;
  left: -5px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--heading-color);
}

.nav-link:hover::after {
  width: 100%;
  opacity: 0.3;
}

.toggle-btn {
  color: var(--heading-color);
  min-width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-right: 1rem;
}

.toggle-btn:hover {
  filter: brightness(95%);
}

/* --------------- Showcase Area Styling --------------- */

.showcase-area {
  position: relative;
  padding: 120px 0;
  width: 100%;
  overflow: hidden;
}

.showcase-area .container {
  display: grid;
  grid-template-columns: 1fr 550px;
  height: calc(100vh - 120px);
  max-height: 600px;
  align-items: center;
}

.showcase-area .sub-heading {
  margin-bottom: 0.7rem;
}

.showcase-area .heading {
  font-size: 3.2rem;
}

.showcase-area .text {
  margin: 0.8rem 0;
}

.cta {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
}

.cta .btn {
  margin-right: 1.5rem;
}

.btn:hover {
  background-color: #222222;
}

.btn.secondary-btn {
  position: relative;
  background-color: transparent;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid #e4e4e4;
  border-radius: 0px;
  padding: 0.15rem 0;
}

.btn.secondary-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  bottom: -2.25px;
  left: 0;
  background-color: var(--heading-color);
  transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before {
  width: 100%;
}

.showcase-image {
  width: 100%;
  position: relative;
  height: 100%;
  min-height: calc(100% + 120px);
  background-image: linear-gradient(124deg,
      var(--heading-color) -50%,
      var(--text-color));
  margin-top: -120px;
  border-radius: 0 0 80px 80px;
}

.showcase-image .person {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.showcase-area .circle {
  position: absolute;
  width: 190px;
  left: 0;
  top: 80%;
  transform: translate(-50%, -50%);
}

.showcase-area .dots {
  position: absolute;
  left: 100%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.showcase-area .square {
  position: absolute;
  left: 25%;
  bottom: 120px;
  transform: translate(-50%, -50%);
}

/* --------------- About Section Styling --------------- */

.about .container {
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
}

.about-card .icon {
  width: 70px;
  height: 70px;
  color: #000000;
}

.about-grid {
  position: relative;
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 190px 190px;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 100px;
  margin-right: 2rem;
}

.about-card {
  background-color: #e4e4e4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s transform;
}

.about-card:nth-child(1) {
  border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2) {
  margin-top: 50px;
  border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3) {
  margin-top: -50px;
  border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4) {
  border-radius: 5px 40px 40px 40px;
}

.about-card h3 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3px;
}

.about-card:hover {
  transform: scale(1.1);
}

.about-grid::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid hsl(0, 0%, 55%);
  z-index: -1;
  opacity: 0.1;
}

.about .triangle {
  position: absolute;
  left: 90%;
  top: 27%;
  transform: translate(-50%, -50%);
  opacity: 0.18;
}

/* --------------- Skills Section Styling --------------- */

.skills {
  overflow: hidden;
}

.skills-box {
  position: relative;
  background-color: var(--text-color);
  padding: 5rem 6rem;
  border-radius: 20px;
  width: 100%;
}

.skills p {
  color: #ffffff;
  letter-spacing: 0.5px;
}

.box-desc {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 2rem;
}

.skills-wrap {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  margin-top: 2rem;
  justify-content: space-between;
  row-gap: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sk-progress {
  width: 150px;
  height: 150px;
  position: relative;
}

.sk-progress svg {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.sk-progress svg circle {
  fill: hsl(0, 0%, 69%);
  stroke-width: 5px;
  stroke: #000000;
  stroke-linecap: round;
  stroke-dasharray: 427;
  stroke-dashoffset: 427;
}

@keyframes progress {
  to {
    stroke-dashoffset: var(--target);
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--heading-color);
  font-weight: 400;
  font-size: 0.9rem;
}

.counter span {
  font-size: 2.45rem;
}

.sk-title {
  color: var(--heading-color);
  margin-top: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
}

.skills .dots {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.skills .square {
  position: absolute;
  top: 75%;
  left: 100%;
  transform: translate(-50%, -50%);
}

/* --------------- Timeline Section Styling --------------- */

.timeline .container {
  display: grid;
  grid-template-rows: auto auto;
}

.timeline .timeline-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 30px;
}

.timeline-section {
  min-height: 100vh;
  padding: 100px 15px;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #000000;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #000000;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 18px;
  color: #000000;
  margin: 6px 0 15px;
  font-weight: 400;
}

.timeline-content {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.timeline-content:hover {
  transform: scale(1.02);
}

.timeline-content h3 {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 10px 0;
  letter-spacing: 0.3px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.timeline-content p {
  line-height: 1.7rem;
  text-align: left;
  margin: 10px 0;
}

.timeline .btn {
  padding: 0.7rem 1rem;
}

.timeline .dots {
  position: absolute;
  left: 90%;
  top: 15%;
  transform: translate(-50%, -50%);
}

/* --------------- Blog Section Styling --------------- */

@media(max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }
}

.blog {
  background-color: var(--text-color);
}

.blog .text {
  color: #fff;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
  font-weight: 500;
}

.card p {
  flex: 1;
  line-height: 1.4;
  color: var(--text-color);
  font-size: 0.9rem;
  margin: 1rem 0;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.card a {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
  text-decoration: underline;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }

  .item-1 h1 {
    font-size: 24px;
  }
}

.grayscale-background {
  filter: grayscale(100%);
}

.blog .square {
  width: 100px;
  position: absolute;
  top: -2%;
  left: 80%;
}

/* --------------- Testimonials Section Styling --------------- */

.testimonial {
  padding: var(--section-padding) 0 calc(var(--section-padding) + 120px);
}

.testimonial .container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
}

.swiper {
  width: 100%;
  background-color: #e4e4e4;
  border-radius: 15px;
  padding: 2rem 0 2.5rem;
}

.swiper-slide {
  padding: 0 2.5rem;
}

.follower {
  display: grid;
  grid-template-columns: 85px 1fr;
  align-items: center;
  gap: 1.5rem;
}

.follower-info h4 {
  font-weight: 500;
  color: var(--heading-color);
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
}

.follower-info h5 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.8rem;
}

.follower-info h5 a {
  color: var(--text-color);
}

.swiper-slide .text {
  display: block;
  margin: 1.5rem 0 0;
}

.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  margin-top: 3rem;
}

.follower img {
  width: 100%;
}

.testimonial-title {
  padding-left: 5rem;
}

.testimonial-title>* {
  color: #ffffff;
}

.section-background {
  position: absolute;
  width: 100vw;
  max-width: 75rem;
  height: calc(100% + 120px);
  background-color: var(--text-color);
  z-index: -1;
  top: 15px;
  left: 50%;
  background-image: linear-gradient(124deg,
      var(--heading-color) -50%,
      var(--text-color));
  transform: translateX(calc(-50% + 120px));
  border-bottom-left-radius: 60px;
}

.section-background .person {
  position: absolute;
  height: 450px;
  bottom: 0;
  right: 0;
}

.section-background .circle {
  position: absolute;
  width: 170px;
  left: 40%;
  top: 79%;
  transform: translate(-50%, -50%);
}

.section-background .square {
  position: absolute;
  left: 77%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: hsl(0, 0%, 62%);
  width: 10px;
  height: 10px;
}

/* --------------- Contact Section Styling --------------- */

.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.mail {
  color: #474747;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.3s;
}

.mail i {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2px;
  transform: translateY(3px);
  transition: 0.3s margin-left;
}

.mail:hover {
  color: var(--heading-color);
}

.mail:hover i {
  margin-left: 10px;
}

.contact-form {
  background-color: var(--text-color);
  border-radius: 20px;
  padding: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
}

.contact-form h3 {
  color: var(--heading-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 0.9;
}

.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background: #e2e2e2;
  border: 2px solid var(--text-color);
  width: 100%;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--heading-color);
  outline: none;
  transition: 0.3s;
}

.form-input::placeholder {
  color: var(--text-color);
}

.form-input:hover {
  filter: brightness(95%);
}

.form-input:valid,
.form-input:focus {
  filter: brightness(100%);
  background: #e2e2e2;
  border-color: #000000;
}

textarea.form-input {
  resize: none;
  min-height: 170px;
}

.contact-form .form-input {
  margin-bottom: 1.5rem;
}

.contact .square {
  position: absolute;
  left: 17%;
  bottom: 15%;
  transform: translate(-50%, -50%);
}

.contact .triangle {
  position: absolute;
  left: 90%;
  bottom: 15%;
  transform: translate(-50%, -50%);
}

/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {
  /* Add responsive styles for screens smaller than 1000px */
}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {
  /* Add responsive styles for screens smaller than 768px */
}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
  /* Add responsive styles for screens smaller than 500px */
}